/* GLOBAL ACTOR STYLING */
.mfs-actor {
    display: flex;
    flex-direction: column;
}

.mfs-actor > .sheet-body {
    height: 100%;
}

.mfs-actor select {
    width: fill-available;
    width: -webkit-fill-available;
    width: -moz-available;
}

/* TEMPLATE SELECTION ZONE */
.mfs-sheet-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 8px;
}

.mfs-template-select > select {
    width: auto !important;
    min-width: 200px;
    margin-left: 16px;
}

.mfs-template-select > a {
    background: rgba(187, 187, 187, 0.75);
    border: 1px solid var(--color-border-dark-1);
    border-radius: 4px;
    padding: 2px;
    box-shadow: 0 0 1px var(--color-shadow-dark);
    margin-left: 8px;
}

/* PANELS STYLING */

.mfs-panel {
    margin: 5px;
}

.grid,
.grid-2col {
    display: grid;
    grid-column: span 2 / span 2;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    margin: 10px 0;
    padding: 0;
}

.grid-3col {
    grid-column: span 3 / span 3;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
    grid-column: span 4 / span 4;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
    grid-column: span 5 / span 5;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
    grid-column: span 6 / span 6;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
    grid-column: span 7 / span 7;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
    grid-column: span 8 / span 8;
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
    grid-column: span 9 / span 9;
    grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
    grid-column: span 10 / span 10;
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
    grid-column: span 11 / span 11;
    grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
    grid-column: span 12 / span 12;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
    grid-column-start: 2;
}

.grid-start-3 {
    grid-column-start: 3;
}

.grid-start-4 {
    grid-column-start: 4;
}

.grid-start-5 {
    grid-column-start: 5;
}

.grid-start-6 {
    grid-column-start: 6;
}

.grid-start-7 {
    grid-column-start: 7;
}

.grid-start-8 {
    grid-column-start: 8;
}

.grid-start-9 {
    grid-column-start: 9;
}

.grid-start-10 {
    grid-column-start: 10;
}

.grid-start-11 {
    grid-column-start: 11;
}

.grid-start-12 {
    grid-column-start: 12;
}

.grid-span-2 {
    grid-column-end: span 2;
}

.grid-span-3 {
    grid-column-end: span 3;
}

.grid-span-4 {
    grid-column-end: span 4;
}

.grid-span-5 {
    grid-column-end: span 5;
}

.grid-span-6 {
    grid-column-end: span 6;
}

.grid-span-7 {
    grid-column-end: span 7;
}

.grid-span-8 {
    grid-column-end: span 8;
}

.grid-span-9 {
    grid-column-end: span 9;
}

.grid-span-10 {
    grid-column-end: span 10;
}

.grid-span-11 {
    grid-column-end: span 11;
}

.grid-span-12 {
    grid-column-end: span 12;
}

.flex-group-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.flex-group-center .mfs-field {
    justify-content: center;
    text-align: center;
}

.flex-group-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
}

.flex-group-left .mfs-field {
    justify-content: flex-start;
    text-align: left;
}


.flex-group-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
}

.flex-group-right .mfs-field {
    justify-content: flex-end;
    text-align: right;
}


.flex-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-between .mfs-field {
    justify-content: space-between;
    text-align: justify;
}


/* FIELDS STYLING */

.mfs-field {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    width: fill-available;
    width: -webkit-fill-available;
    width: -moz-available;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.mfs-field > label {
    margin-right: 5px;
}

.mfs-field-small {
    width: 4em;
}

.mfs-field-medium {
    width: 10em;
}

.mfs-field-large {
    width: 30em;
}

.mfs-panel .mfs-field-full-size {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.mfs-label-title {
    text-align: center;
    font-weight: bold;
}

.mfs-rollable {
    color: darkred;
}

/* TABLE STYLING */

table {
    height: fit-content;
}

.mfs-cell {
    padding-left: 2px;
    padding-right: 2px;
}

.mfs-cell-alignCenter {
    text-align: center;
}

.mfs-cell-alignLeft {
    text-align: left;
}

.mfs-cell-alignRight {
    text-align: right;
}


/* DYNAMIC TABLE STYLING */

.mfs-dynamic-table-row-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.mfs-dynamic-table-sort-icon-wrapper {
    margin-right: 5px;
}

.mfs-dynamic-table-sort-icon {
    display: block;
    font-size: 0.75em;
}

/* RICH EDITOR STYLING */

.mfs-rich-editor {
    height: 100px;
    min-height: 100px;
    width: 100%;
}

.mfs-rich-editor-button {
    margin-left: 8px;
}

.mfs-rich-editor-button-float {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(187, 187, 187, 0.75);
    border: 1px solid var(--color-border-dark-1);
    border-radius: 4px;
    padding: 1px 2px;
    box-shadow: 0 0 1px var(--color-shadow-dark);
}

.mfs-rich-content {
    width: 100%;
}
