/* GLOBAL CONTROLS */

.mfs-template-tab-controls {
    margin-left: 8px;
    flex-grow: 0;
    flex-shrink: 1;
}

.mfs-template-tab-controls > * {
    margin-left: 2px;
    margin-right: 2px;
}

/* PANELS STYLING */

.mfs-editable-panel {
    border: solid black 1px;
    border-radius: 8px;
}

.mfs-editable-panel-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: #61605b;
    color: white;
}

/* FIELDS STYLING */

