<form class="{{cssClass}} {{actor.type}} mfs-actor" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img
                class="profile-img"
                src="{{actor.img}}"
                data-edit="img"
                title="{{actor.name}}"
                height="100"
                width="100"
        />
        <div class="header-fields">
            <h1 class="charname">
                <input
                        name="name"
                        type="text"
                        value="{{actor.name}}"
                        placeholder="Name"
                />
            </h1>

            {{#if isGM}}
            <div class="mfs-sheet-actions">
                <div class="mfs-template-select">
                    <label for="template"> Template : </label>

                    <select id="template" name="data.template">
                        {{#select data.template}}
                        {{#each availableTemplates}}
                        <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <a id="mfs-reload-template"><i class="fas fa-sync"></i></a>
                </div>
            </div>
            {{/if}}

            <div class="mfs-customHeader">{{headerPanel}}</div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        {{#each tabs}}
        <a class="item" data-tab="{{this.key}}">{{this.name}}</a>
        {{/each}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{#each tabs}}
        <div class="tab {{this.key}}" data-group="primary" data-tab="{{this.key}}">
            {{lookup ../tabsContent this.key}}
        </div>
        {{/each}}
    </section>
</form>
