<form class="{{cssClass}} {{actor.type}} mfs-actor" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img
                class="profile-img"
                src="{{actor.img}}"
                data-edit="img"
                title="{{actor.name}}"
                height="100"
                width="100"
        />
        <div class="header-fields">
            <h1 class="charname">
                <input
                        name="name"
                        type="text"
                        value="{{actor.name}}"
                        placeholder="Name"
                />
            </h1>

            <div class="mfs-sheet-actions">
                <input type="button" class="mfs-configure-attributes" value="Configure hidden attributes"/>
            </div>

            <div class="mfs-customHeader">{{headerPanel}}</div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        {{#each tabs}}
        <span class="mfs-template-tab-name" data-tab-key="{{this.key}}" data-tab-name="{{this.name}}">
            <a><i class="fas fa-caret-left mfs-clickable mfs-sort-left-template-tab"></i></a>
            <a class="item" data-tab="{{this.key}}">{{this.name}}</a>
            <a><i class="fas fa-caret-right mfs-clickable mfs-sort-right-template-tab"></i></a>
         </span>
        {{/each}}
        <span>
            <a class="item" title="Add new tab"><i
                    class="fas fa-plus-circle mfs-clickable mfs-add-template-tab"></i></a>
            <a title="Edit current tab"><i class="fas fa-edit mfs-clickable mfs-edit-template-tab"></i></a>
            <a title="Delete current tab"><i class="fas fa-trash mfs-clickable mfs-delete-template-tab"></i></a>
        </span>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{#each tabs}}
        <div class="tab {{this.key}}" data-group="primary" data-tab="{{this.key}}">
            {{lookup ../tabsContent this.key}}
        </div>
        {{/each}}
    </section>
</form>
