<table class="mfs-attributes">
    <thead>
    <tr>
        <th>Name</th>
        <th>Formula</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each attribute}}
    <tr class="mfs-hidden-attribute">
        <td><input class="mfs-attribute-name" value="{{this.name}}"/></td>
        <td><textarea class="mfs-attribute-formula">{{this.value}}</textarea></td>
        <td class="mfs-attribute-controls"><a class="mfs-delete-hidden-attribute"><i class="fas fa-trash"></i></a></td>
    </tr>
    {{/each}}
    <tr>
        <td colspan="2"></td>
        <td><a><i class="fas fa-plus-circle" id="addAttribute"></i></a></td>
    </tr>
    </tbody>
</table>

<script>
    (() => {
        $('.mfs-attributes').parents('.dialog').css('height', 'auto').css('max-height', '75%');
    })();
</script>