<div class='mfs-component-editor-dialog'>
    <div class='mfs-component-generic-fields'>
        <div class='mfs-form-field'>
            <label for='compType'>Select component type</label>
            <select id='compType' data-key='type'>
                {{#select type}}
                <option value='label'>Label</option>
                <option value='textField'>Text field</option>
                <option value='textArea'>Rich text area</option>
                <option value='checkbox'>Checkbox</option>
                <option value='select'>Drop down</option>
                <option value='panel'>Panel</option>
                <option value='table'>Table</option>
                <option value='dynamicTable'>Dynamic table</option>
                {{/select}}
            </select>
        </div>
        <div class='mfs-form-field'>
            <label for='compKey'>Component key</label><input id='compKey' value='{{key}}' data-key='key' />
        </div>
        {{#if isDynamic}}
        <div class='mfs-form-field'>
            <label for='compAlign'>Alignment</label>
            <select id='compAlign' data-key='align'>
                {{#select align}}
                <option value='left'>Left</option>
                <option value='center'>Center</option>
                <option value='right'>Right</option>
                {{/select}}
            </select>
        </div>

        <div class='mfs-form-field'>
            <label for='compColName'>Column Name (optional)</label>
            <input id='compColName' value='{{colName}}' data-key='colName' />
        </div>
        {{else}}
        <div class='mfs-form-field'>
            <label for='compClass'>Additional CSS classes</label><input id='compClass' value='{{cssClass}}'
                                                                        data-key='cssClass' />
        </div>
        {{/if}}
    </div>
    <hr>

    <div class='mfs-component-editor mfs-label-editor'>
        <div class='mfs-form-field'>
            <label for='labelStyle'>Label style</label>
            <select id='labelStyle' data-key='style'>
                {{#select style}}
                <option value='label'>Default</option>
                <option value='title'>Title</option>
                <option value='subtitle'>Subtitle</option>
                <option value='bold'>Bold text</option>
                {{/select}}
            </select>
        </div>

        <div class='mfs-form-field'>
            <label for='labelSize'>Size</label>
            <select id='labelSize' data-key='size'>
                {{#select size}}
                <option value='full-size'>Auto</option>
                <option value='small'>Small</option>
                <option value='medium'>Medium</option>
                <option value='large'>Large</option>
                {{/select}}
            </select>
        </div>

        <div class='mfs-form-field'>
            <label for='labelText'>Label text (optional)</label>
            <textarea id='labelText' data-key='value'>{{value}}</textarea>
        </div>

        <div class='mfs-form-field'>
            <label for='labelRichText'>Use rich text editor for label</label>
            <input type='checkbox' id='labelRichText' />
        </div>

        <div class='mfs-form-field'>
            <label for='labelIcon'>Label icon (optional)</label>
            <input id='labelIcon' data-key='icon' value='{{icon}}' />
        </div>


        <div class='mfs-form-field'>
            <label for='labelRollMessage'>Label roll message (optional)</label>
            <textarea id='labelRollMessage' data-key='rollMessage' rows='10'>{{rollMessage}}</textarea>
        </div>

        <div class='mfs-form-field'>
            <label for='rollRichText'>Use rich text editor for roll message</label>
            <input type='checkbox' id='rollRichText' />
        </div>

    </div>
    <div class='mfs-component-editor mfs-textField-editor'>
        <div class='mfs-form-field'>
            <label for='textFieldLabel'>Label (optional)</label>
            <input id='textFieldLabel' data-key='label' value='{{label}}' />
        </div>

        <div class='mfs-form-field'>
            <label for='textFieldSize'>Size</label>
            <select id='textFieldSize' data-key='size'>
                {{#select size}}
                <option value='full-size'>Auto</option>
                <option value='small'>Small</option>
                <option value='medium'>Medium</option>
                <option value='large'>Large</option>
                {{/select}}
            </select>
        </div>

        <div class='mfs-form-field'>
            <label for='textFieldFormat'>Format (optional)</label>
            <select id='textFieldFormat' data-key='format'>
                {{#select format}}
                <option value=''>None</option>
                <option value='integer'>Integer</option>
                <option value='numeric'>Numeric</option>
                {{/select}}
            </select>
        </div>

        <div class='mfs-form-field'>
            <label for='textFieldMaxLength'>Maximum length (optional)</label>
            <input id='textFieldMaxLength' type='number' data-key='maxLength' value='{{maxLength}}' />
        </div>

        <div class='mfs-form-field'>
            <label for='textFieldValue'>Default value (optional)</label>
            <input id='textFieldValue' data-key='defaultValue' value='{{defaultValue}}' />
        </div>
    </div>
    <div class='mfs-component-editor mfs-textArea-editor'>
        <div class='mfs-form-field'>
            <label for='textAreaLabel'>Label (optional)</label>
            <input id='textAreaLabel' data-key='label' value='{{label}}' />
        </div>

        <div class='mfs-form-field'>
            <label for='textAreaValue'>Default value (optional)</label>
            <input id='textAreaValue' data-key='defaultValue' value='{{defaultValue}}' />
        </div>

        <div class='mfs-form-field'>
            <label for='textAreaStyle'>Style</label>
            <select id='textAreaStyle' data-key='style'>
                {{#select style}}
                <option value='sheet'>In sheet editor</option>
                <option value='dialog'>Dialog editor</option>
                <option value='icon'>Icon only</option>
                {{/select}}
            </select>
        </div>
    </div>
    <div class='mfs-component-editor mfs-checkbox-editor'>
        <div class='mfs-form-field'>
            <label for='checkboxLabel'>Label (optional)</label>
            <input id='checkboxLabel' data-key='label' value='{{label}}' />
        </div>

        <div class='mfs-form-field'>
            <label for='checkboxSize'>Size</label>
            <select id='checkboxSize' data-key='size'>
                {{#select size}}
                <option value='full-size'>Auto</option>
                <option value='small'>Small</option>
                <option value='medium'>Medium</option>
                <option value='large'>Large</option>
                {{/select}}
            </select>
        </div>
    </div>
    <div class='mfs-component-editor mfs-select-editor'>
        <div class='mfs-form-field'>
            <label for='selectLabel'>Label (optional)</label>
            <input id='selectLabel' data-key='label' value='{{label}}' />
        </div>

        <div class='mfs-form-field'>
            <label for='selectOptions'>
                Options<br>
                Please enter your options in the form [key - value].<br>
                Key must be an alphanumeric string, value can be anything.
            </label>
            <textarea id='selectOptions'
                      data-key='options'>{{options_formatted}}</textarea>
        </div>

        <div class='mfs-form-field'>
            <label for='selectDefaultValue'>
                Default value (optional)<br>
                Please enter the key to your default value.<br>
                Without a default value, an empty option will automatically be added to your dropdown field.
            </label>
            <input id='selectDefaultValue' data-key='defaultValue' value='{{defaultValue}}' />
        </div>

        <div class='mfs-form-field'>
            <label for='selectSize'>Size</label>
            <select id='selectSize' data-key='size'>
                {{#select size}}
                <option value='full-size'>Auto</option>
                <option value='small'>Small</option>
                <option value='medium'>Medium</option>
                <option value='large'>Large</option>
                {{/select}}
            </select>
        </div>
    </div>
    <div class='mfs-component-editor mfs-panel-editor'>
        <div class='mfs-form-field'>
            <label for='panelFlow'>Panel layout</label>
            <select id='panelFlow' data-key='flow'>
                {{#select flow}}
                <option value='vertical'>Vertical</option>
                <option value='horizontal'>Horizontal</option>
                <option value='grid-1'>Grid of 1 column</option>
                <option value='grid-2'>Grid of 2 columns</option>
                <option value='grid-3'>Grid of 3 columns</option>
                <option value='grid-4'>Grid of 4 columns</option>
                <option value='grid-5'>Grid of 5 columns</option>
                <option value='grid-6'>Grid of 6 columns</option>
                <option value='grid-7'>Grid of 7 columns</option>
                <option value='grid-8'>Grid of 8 columns</option>
                <option value='grid-9'>Grid of 9 columns</option>
                <option value='grid-10'>Grid of 10 columns</option>
                <option value='grid-11'>Grid of 11 columns</option>
                <option value='grid-12'>Grid of 12 columns</option>
                {{/select}}
            </select>
        </div>

        <div class='mfs-form-field'>
            <label for='panelAlign'>Panel alignment</label>
            <select id='panelAlign' data-key='align'>
                {{#select align}}
                <option value='center'>Center</option>
                <option value='left'>Left</option>
                <option value='right'>Right</option>
                <option value='justify'>Justify</option>
                {{/select}}
            </select>
        </div>
    </div>
    <div class='mfs-component-editor mfs-table-editor'>
        <div class='mfs-form-field'>
            <label for='tableRows'>Row count</label>
            <input id='tableRows' data-key='rows' value='{{rows}}' />
        </div>
        <div class='mfs-form-field'>
            <label for='tableCols'>Column count</label>
            <input id='tableCols' data-key='cols' value='{{cols}}' />
        </div>

        <div class='mfs-form-field'>
            <label for='tableLayout'>
                Table layout<br>
                Please enter the layout for your table.<br>
                For each column, specify if it should be aligned left (l), right (r) or centered (c).<br>
                Example for a 4 column table : <b>cllr</b>.
            </label>
            <input id='tableLayout' data-key='layout' value='{{layout}}' />
        </div>
    </div>
    <div class='mfs-component-editor mfs-dynamicTable-editor'>
        <div class='mfs-form-field'>
            <label for='tableHead'>
                Make column name bold
            </label>
            <input type='checkbox' id='tableHead' data-key='head' {{checked head}} />
        </div>
    </div>
</div>

<script>
    (() => {
        const typeSelect = $('.mfs-component-editor-dialog #compType');
        typeSelect.parents('.dialog').css('height', 'auto');

        $('.mfs-component-editor-dialog .mfs-' + typeSelect.val() + '-editor').slideDown(
            200
        );

        $('.mfs-component-editor-dialog #textFieldFormat').change();
    })();
</script>