<p>Please enter tab name and key.</p>
<p>Name can be anything, key must be lowercase alphanumeric, and unique among tabs.</p>
<div><label for="tab-name">Tab name : </label><input id="tab-name" value="{{name}}"/></div>
<div><label for="tab-key">Tab key : </label><input id="tab-key" value="{{key}}"/></div>