<table class="mfs-user-inputs">
    <thead>
    <tr>
        <th>Variable</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    {{#each allUserVars}}
    <tr>
        <td><label for="{{this}}">{{this}}</label></td>
        <td><input id="{{this}}" data-var-name="{{this}}" class="mfs-user-input" /></td>
    </tr>
    {{/each}}
    </tbody>
</table>

<script>
    (() => {
        $('.mfs-user-inputs').parents('.dialog').css('height', 'auto').css('max-height', '75%');
    })();
</script>